In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [3]:
county = pd.read_csv('C:/Users/carwa/OneDrive/Desktop/Loyola/23-24/fall/489/final proj/MD_COVID-19_-_Cases_by_County.csv')
county = county[['DATE', 'Baltimore', 'Baltimore_City']]
county

                DATE  Baltimore  Baltimore_City
0     3/15/2020 6:00          3               1
1     3/16/2020 6:00          4               1
2     3/17/2020 6:00          6               1
3     3/18/2020 6:00         10               4
4     3/19/2020 6:00         12               8
...              ...        ...             ...
1286  9/22/2023 6:00     176258          152864
1287  9/23/2023 6:00     176283          152894
1288  9/24/2023 6:00     176309          152909
1289  9/25/2023 6:00     176333          152927
1290  9/26/2023 6:00     176386          152982

[1291 rows x 3 columns]